{{ define "main" }}
<header class="hero is-fullheight is-bold gradient-background home">

  <div class="hero-body overlay">

    <div class="container">
      <div class="columns">
        <div class="column is-8 is-flex is-column is-justified-center">
          <div class="is-flex is-column is-aligned-center-touch is-justified-center-touch">
            <h1 class="title has-text-centered-touch is-hero my-3 has-text-white has-font-weight-bold" data-aos="fade"
              data-aos-delay="500" data-aos-duration="800">
              {{ .Params.hero1 | safeHTML }}
            </h1>

            <p class="subtitle has-text-centered-touch mt-1 is-size-5 has-text-white" data-aos="fade-up"
              data-aos-delay="1000" data-aos-duration="800">
              {{ .Params.hero2 | safeHTML }}
            </p>
            <div class="">
            <a href="#contact" class="button is-primary" data-aos="fade"
            data-aos-delay="1500" data-aos-duration="800">Prendre Rendez-Vous</a>
          </div>
          </div>
        </div>
        <div class="column is-4">

        </div>

      </div>

    </div>

</header>
<div class="gallery2">
  <figure class="gallery__item gallery__item--1">
    <img data-sizes="auto" src="img/2-sm.jpg" data-srcset="img/2-sm.jpg 450w,
    img/2.jpg" data-src="img/2.jpg" class="gallery__img lazyload"
      alt="Plus de 3000 pieds carrés d'espace, 4 chambres dont 3 à l'étage, possibilité d'une 5e au besoin">
  </figure>
  <figure class="gallery__item gallery__item--1">
    <img src="img/4-sm.jpg" class="gallery__img lazyload" alt="Plus de 3000 pieds carrés d'espace, 4 chambres dont 3 à l'étage, possibilité d'une 5e au besoin"
      data-sizes="auto" data-srcset="img/4-sm.jpg 450w,
      img/4.jpg" data-src="img/4.jpg.jpg">
  </figure>
  <figure class="gallery__item gallery__item--1">
    <img src="img/5-sm.jpg" class="gallery__img lazyload" alt="Plus de 3000 pieds carrés d'espace, 4 chambres dont 3 à l'étage, possibilité d'une 5e au besoin"
      data-sizes="auto" data-srcset="img/5-sm.jpg 450w,
      img/9.jpg" data-src="img/5.jpg">
  </figure>
  <figure class="gallery__item gallery__item--1">
    <img data-sizes="auto" src="img/6-sm.jpg" data-srcset="img/6-sm.jpg 450w,
    img/6.jpg" data-src="img/6.jpg" class="gallery__img lazyload"
      alt="Plus de 3000 pieds carrés d'espace, 4 chambres dont 3 à l'étage, possibilité d'une 5e au besoin">
  </figure>
  <figure class="gallery__item gallery__item--1">
    <img src="img/4-sm.jpg" class="gallery__img lazyload" alt="Plus de 3000 pieds carrés d'espace, 4 chambres dont 3 à l'étage, possibilité d'une 5e au besoin"
      data-sizes="auto" data-srcset="img/4-sm.jpg 450w,
      img/15.jpg" data-src="img/4.jpg.jpg">
  </figure>
  <figure class="gallery__item gallery__item--1">
    <img src="img/5-sm.jpg" class="gallery__img lazyload" alt="Plus de 3000 pieds carrés d'espace, 4 chambres dont 3 à l'étage, possibilité d'une 5e au besoin"
      data-sizes="auto" data-srcset="img/5-sm.jpg 450w,
      img/17.jpg" data-src="img/5.jpg">
  </figure>
</div>
<section id="details" class="section is-medium" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
  <div class="container">
    <div class="is-flex is-column is-justified-center is-aligned-center">
      <h2 class="is-size-1 has-text-centered has-text-weight-bold has-text-capitalized">{{ .Params.heading1 }}
        {{ $.Site.Params.price }}</h2>
      <h3 class="is-size-3 mt-1 has-text-centered has-text-weight-normal">{{ .Params.subheading1 }}</h3>
      <p>{{ $.Site.Params.mls }}</p>
    </div>
    <div class="divider_white"></div>
    <div class="columns">
      <div class="column">
        <div class="box__feature is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up"
          data-aos-duration="800">
          <svg class="feature_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#arrow-circle-down"></use>
          </svg>
          <h3 class="is-size-5 has-text-centered has-text-centered has-text-uppercase">{{ .Params.feature1 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.feature1_desc }}</p>
        </div>

      </div>

      <div class="column">
        <div class="box__feature is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up"
          data-aos-duration="800">
          <svg class="feature_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#sun"></use>
          </svg>
          <h3 class="is-size-5 has-text-centered has-text-centered has-text-uppercase">{{ .Params.feature2 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.feature2_desc }}</p>
        </div>
      </div>

      <div class="column">
        <div class="box__feature is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up"
          data-aos-duration="800">
          <svg class="feature_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#umbrella-beach"></use>
          </svg>
          <h3 class="is-size-5 has-text-centered has-text-centered has-text-uppercase">{{ .Params.feature3 }}</h3>
          <p class="has-text-centered has-font-size-small">{{ .Params.feature3_desc }}</p>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <h2 class="is-size-1 has-text-centered has-text-weight-bold has-text-capitalized">{{ .Params.heading2 }}</h2>
    <h3 class="is-size-3 mt-1 has-text-centered has-text-weight-normal mb-5 pb-5">{{ .Params.subheading2 }}</h3>
    <div class="columns is-gapless">
      <div class="column is-flex is-column is-aligned-center-touch">
        <div class="benefit_box py-3">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit1 }}</p>
        </div>

        <div class="benefit_box py-3">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit2 }}</p>
        </div>

        <div class="benefit_box py-3">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit3 }}</p>
        </div>
      </div>

      <div class="column is-flex is-column is-aligned-center-touch">

        <div class="benefit_box py-3 has-text-centered-touch">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit4 }}</p>
        </div>

        <div class="benefit_box py-3 has-text-centered-touch">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit5 }}</p>
        </div>

        <div class="benefit_box py-3 has-text-centered-touch">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit6 }}</p>
        </div>

      </div>
      <div class="column is-flex is-column is-aligned-center-touch has-text-centered-touch">

        <div class="benefit_box py-3 has-text-centered-touch">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit7 }}</p>
        </div>

        <div class="benefit_box py-3">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit8 }}</p>
        </div>

        <div class="benefit_box py-3">
          <svg class="service_icon">
            <use xlink:href="{{ $.Site.BaseURL }}icons/regular.svg#star"></use>
          </svg>
          <p>{{ .Params.benefit9 }}</p>
        </div>

      </div>
    </div>
    <div class="is-flex is-column is-aligned-center-touch">
      <p class="my-5 has-text-centered-touch">{{ .Params.listing_desc | safeHTML }}</p>
      <div class="">
        <a href="/#contact" class="button is-primary has-text-capitalized mt-5 has-text-centered-touch">Demander plus
          d'informations</a>
      </div>
    </div>

  </div>
</section>


<section id="photos">
  <div class="container">
    <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-carousel-widget responsiveIframe" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/e7Ebp5BgLJTxz3U87"
  data-title="5791 RUE CHABOT"
  data-description="5791 RUE CHABOT">
  <object data="https://lh3.googleusercontent.com/vsqcS1MXg83yORBW801GCFBpTj8Ia8Ss3MTEry4ax2ic7HFB_T6AxwB4xDHSjgfxH4M-DGGPnDbRWErW107_HLtsoRXnc8Nrgfh7Exq_dF_ILHl1TIx2EYGpWHaK5S-bTBAqsdVG4g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/kOlpl4lnab_W4my2dtAmtxhctG27-zwAuyLaof3jQvbljY1c6T9i-HCiiY07xnndPzb3EyNqiwtZF1rafzrZSQHKWgHZTB1uhMxRL_ccVVyyNdqQud0SwtH_QE_TneTfpX_6qcSGeA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ViOCqpCT7CDdF2PqzTXmr9ELvwAxrtpB-H29iqOYW6FU-vzwyrwWM7CTcbTxrSTl__bkfr-fjFifr0JSHXycr9yp-h4muPNHmMGXMK0UU4bPA9jRiZ97aa70aZpb2bQNKtk5187IEw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/DT-X12gycqc2xRcUg04q3pLIio3FcIHfO6LrxYdU9BywyKd6cNFSTgztXdfW9Sm06yfj6Q6Y6HqtpPzfUlKitSYqjvbPVY7SRC8h8av8IHA2oCiIJynqVL50A71VKogYMLSBZylfRg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/z_YOi31qTokDhrvW3a8olzqeQ0H3Z9P6FhjB87_RLm5U4V_fuJM468ibJT7agJhmKwcQssFdBZ7pLy3HA3cpZKGUsnzj6ka_bUKaHoC2ldlk4rzwoX31DzFzu13CwdOpxPX7X30HzA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/SMjZe-0hWp0bg1s6j75wZO0yzRWTWGCdNnRBmxtmzjcAc58nSXEbft4KSCdwbGRlEQy_0I0X4RVtP61IoBBKIJj0iPDGLikFsGDcWZRxcaT2VXO0OML3yrME5kn3LqXHrBQQEhuIlg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ntJt9QPMaq4pJ74L8qe73hkDbu0GmuukpX5d9xBLjXxcodfpWg61LZjsaed5J0qXm6w9nlNHNP7WYrwuznBmv8RK0KEhPg8PDe1VVXy5G_WEQyJfclba0zger0HiTqPy4LY4qwzrWQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/z8dFn0TmbAwP-nAU94BhV37qCFGFjMA4YZUcOLgr1JWaG5fcqkYUCM1ZH4k4-bnKINIYidOwCsdMKMp7fGqe5UZIqmMvV2NpwhSjgVeRfM42hUSIIrnBK6jeKJc25WmcGJyN6jIW3A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/DQbz7n7ShlBNL66jDxkbe_jQDhnm9JwMrPyRXiQxmB0kqNY09NhKTsgf5t-7RMJfByLagG6yyQQa5ucQHEw4VSSxSCNThPXYIDjP3br_hZ5ZrFeuFSS4YvoLX_9hTc-4mFFpUTSmMQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/mI4Vzds469EnyAMoSdrrRWAMC2BzUvH03GkPqkIwT1Wheu7vvTE2S8hYdpUcj5BXWcz03638tIbSXyn2L2MgLAh_z0Gz0yilpomfEIO6azp8-FbFOdSwmpKMT-Q8pStGbULQUY_TlA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/E-qi9w9dKYR258tR-w5WBrfdl8GCuCA_qJPt0dfqsXLkbEKG39KxGtT0jJynkLLQqx6xQY2rrJ27ur0xO7bP4OmW9BDlPFvu-Pcf6I4CVGDUX2lRQxznz_WBjR01ePSvBTyffznhjg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/JUrMgM9_viW7E3TVt7iy4dwrBdbHtwOZiXC7C1MvT9fKJnQ9BKP_ibrTWfLRuLxOSt-0sCHvJUx1nd0z6R5TAsmsdB36R5EDFyVijDvtQF-BPrD2KHHhoqI52AgssLO-3TGl1P8FfA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/POcmOjw8ol-S3bHO2pRvSQKH4Dbauwm9gU-NYphkGP4T7Y1Xtj6drmXn22wdu8OgcHjZRA2gd8k1NqfOE2wduzx6Uc2LGPQJsAz9xUS58olpg_VGPko6V0Yvqr2Zvp7W0JUhvcXA5g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/I-SOB7q5hgSehoi5KU1thzMDFtVXCp8zWdKYRkN6AYHDQ9EBl3DRb426fIu_bDMshftre5sKZy508XUyqtfawFxVFRwbtB-0ruyZfJrrWzor3OEfgQ9sfQ-ptVlg-6vJK7uAZ3Oh-Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/QZnJls1JcLYyhc3k15LsvBz1_x0j5dIGhIFpknJnZtiRFyMqwtBGaQTilWZpHVA80F4hBPdai8dU9fUwIjtqeYg-8I9jByiqy3kyXaQgWO8HXzJ-WEmOpiC3hIoeFHA1L7zAPzGpeg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Aff09jjZ4J0qVX0kXNoGxKHlojsQ_8g-WxaDkaxaDM_yxmv2pdV1AfE4bA527FjcomzV4AmyClbaxeY4_uRb57szsDIWNnQmJhNRfei0630XKq63jbu_1-vyQOXmr7GphhDJGAn66g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/TBhSJyyMZSmItHlK-kIwD1eVTNt28tAhbGhNumGA_7SEMrA2QVjqqGakNFROhr1websq2DbZN5Q6vLi0522M09AKV5CvdopyUYdFQA_9M0vEz_V1HhaWA6g2g_YiF-9fShE5dcReaA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/W7N1cVDEISuyA3Y1FCo9aeWyt1qpd8RXtgngnvFRB6rERANMYJJ3jtN9-6eRB6b1uQkTTkZmoZA7WOu48R8d-jtuzso26kFYRNhvB5IyhoftQVwuaNuEP5uBmfW35Z1occrgbepxkQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/4KkbX8zU6A9Z4cXQpQU_4vpSLJUczNxITvagd2ys39VIbYv8-pqCihawOnhfRgjR4uY4b6G7Zmk6dTfEzbGMdy7tinARU60U_JDwSSdPF06aIIY6eUFKg0ZgMhMG3P3vFCI65JA5OA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/TCzVQOcBxfMgEnZAEseUE4tC1G3L3CRR5FUFWg-Yqj74oPNjnX3H2-OlrJPDSCIZn4h4ST2n1LXlhtPMcA82EH9lmIU--RfNP1aRe_bNsqcurNG898Q-tTx1q6yIhFkEwmD8EuZWbg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/vd4MDYLhQwYttxxKBRakmb6XPgFomHbYph4jlBxbWF8kyqYHVu6OqPhr_BzAp4vsbOlPu7r8nmWgmjKQZ0ZBubvNe-XsxiEpUdWlyRTR1Q1Fgp3gFyCEfEVoQnwPL6dEsve-4QURsA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/nVFnhjQhdzTegCgpMRRu5unge68ZhsPUH8KJTRieDlMDbAnOsqIw3ope8nulwkmDmTQGAWTrN83tGtlLMP5jq0uAoC6LyO9vDysfuDvluNoPSeA9uMtNgoz5YcMJ6G_OMfpx1F1R2Q=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/jaiaocxTQCP-nGbSJLjpuxw4qkKYPz0TMjZkS_sQ1uGWmbJgnJ0YG_wcOu5_Z3NLChcV5fwUDTWf4ZigATfS6BpbDKjikBc73LJ11c4IuSo-2OmqpYYxt00K0ffQFpaw1uBwLV6qpA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/fZBYAgHlPOI3P44xHAqf_YCu3MG28H2HLSOZFejlsUFO4C7EA2dLNIjivIFREtuRwJwS8-j7yUtDbkoH8jmnDQk1J_kDf1g9BofqcNZRUvbFksyBsWNImkrRHTRk4AwGBC97W3kghA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/O_9HUlo6fpnOUfGQ8MQLSgb6rLiMm72d1FyFwQJns5u9ocu8eq6jDBc8Av7bsenXo_ix-L45sI7K2x3Go3eOornTjTdHiPerKEhRcBb3uX5FuWvqbBWrJfXeQ4iCOouui519-XYEvQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/PvHdKmzgHW1qgvrS59XEPB3ZjLzie8rD3WRieoGPuIVrt9LDTuK5hwtbIPlfcGfk5IeIT1TJmiZtt0yXrNoNqFQtR-8AGonV_Wpy8J64gKV7pH-CTKZvtrdGiaLvaHxKETdjFR7Y0A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/C2MJFu93FkBJ81r-zfHAYFqImN2ldpU7FsNmogwHNzKgXU0T7NU22kU2O37kFy5-gMowoR1MwFFu6s3xB2wD1UIRGdCxu_e8QB79xelXpuSOoLudctyYD-Y8hvCEgmmGZNwON-V1TQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/IqNnBQwb7c_fNwJmXvboTa3yyjU2LIWI4OUju18lh43WqGszCPQF4TBoG8l2a0FL7aYCOHICwAdFscS_KJT942SzcYv_XHSdx-98HuXgoAAxxC0JW6w6buce6ZV9SjpqpqY39hBoHw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/TXmwqLARNcowuFo9XKHUrvJLgOC6pkq5TV5Q9KyI7UBz5KLgX161EvjG3m5J6qtDYxcwA_QDj1-uM-30mHjdMv7gQNq9QNR3Sfav28zqRK0QmD3FeWmKzJmFTBk8LbaqtVsAoNCmwA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/YfxFiIWOxj3vSvDoyXfz1K7ZIlB-KzqIykI3p6l8d233T1I1XDoBT0qt1jDZXofSYp3fGUTHosYr-aXKYF6TUPXZhH6nZ4cMgO9NpEui9G61zouEprLlX2S-nqrE-IFTprC4xFLdmw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/D4D393eNCnwScM722BYcf1yZeXL3F_LgKMkGRrYzRn7cyNsiZZVrVMIflWcwXu3SfBZWvov3eJbyJTSncRu3NSwwheDsjRa3AHC3Q3njBE4uXJlPgYzQe70Q3-W2BGBItFbkCn5O0g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/_vKxdjj9NGC9aKDw6dYxhNTH4Tu3_vWHw-yzifAh8pOUcONfv-MleNwxW3FfBV9423wds1jGe1lSmuu-kkfGdDycKXhisM-fWZi_EUx4wmOPi9IXhlTU7ZPFZgwjPdsVCJRUybwiFA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/oQO16t5gzjwPvO-7gQxuLfbNeE1HdLZodqiGgRTiUUXUO783oucifGb0dOtPIiIDNUxJODN2YuUCXazTpbO4QtShMllHkV5VrCmMdA2F03j8sXj6CCcLeBBgSzWAuN-Cox5mvEiWHQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/E3aiMNj1GYNq7F54FvD3bGHV6K86G9uqKlSZwwEwJImsXFwDGGVTkkkEF9iQT2cnD-1qSOWCB5-Xc3wcKAEl9DSvbYUJ4DV4mdf1WE_Ei6kntZpYnpWLA3_evbzq2oIghurY1_Vu3w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/jOctMPzq_ZaL3NLn_TT2TRqLAcKfp2DoLPLdCzYJhHzq1P03VJvBDZ1YSe95ZsV_TehIKLnWML2pWIhPm-uXiqtJaaUCUIkoLKiJhBzhY-Ji0xWpgxnsY6AOjbABT16QLwxGvYkAjw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/6oP89Q5qt_Ho4yDinsUg1xoSZ6UWcLWsWD_-nS79PTnVRwx9nvm-0MFLS_wryM4v3_zrg__PG3CpijYFueFAHo5fYM3JlhrrQqD6T4HfD9hzVqKBNMHmvXmzuuyBYcVfUFwpQ_nItQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/VUG-zVE9yQW3adAlMRoeXVF1LcbkgMiV1-XOeIuYC-9mngLiKEKyADZff-QuUOLvluGrBRAtfXE8o1SmfYXZoajQpeZf_MGhbLDNbOegdkS2n4BO5ipB0HYuUqWlhpbQkatgGwkw_w=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/r092njgWbgkBq0ANR3P2MylNU9mtLnxlOw4vqX2NcH6KQgTdG5YRc-fvBUiOZpA-drOi8nFaXFN4Zc-IwkEQchfoRao1_XM25gqPkGl0ftuqSNMf7Kwsgh9FXtqfnphLrpW_SZDifQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ucA6-sO2T5mlg7sfT-Lf1KPN_PTIv6L7SK0glqfdnAh_5gFHLbZs87cYRtiUTcgCvIFQ0XyzoRdtbhuPm8QMMa01nE6USy156tChvyAuOmzTbvDfC77-xj3hYWl_SbekNWpv3oyDxA=w1920-h1080"></object>
</div>
    
</div>
</section>



<section id="visite" class="section is-medium" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
  <div class="container">
    <h2 class="is-size-1 has-text-centered has-text-weight-bold has-text-capitalized mb-5 pb-5">{{ .Params.heading3 }}
    </h2>
    <div class="responsiveIframe has-shadow">
      <iframe data-src="https://youriguide.com/{{ $.Site.Params.visit }}" class="lazyload" frameborder="0"></iframe>
    </div>



    <div class="divider"></div>
    <p class="is-size-1 has-text-centered has-text-weight-bold has-text-capitalized heading"> Parfaitement situé</p>
    <h2 class="is-size-3 mt-1 has-text-centered has-text-weight-normal mb-5 pb-5">{{ .Params.sector_heading }}</h2>
    <div class="responsiveIframe has-shadow map">
      <iframe data-src="{{ $.Site.Params.googlemap }}" class="lazyload map" frameborder="0" height="800px"></iframe>
    </div>

  </div>


</section>

<footer id="contact" class="section is-medium has-background-primary">
  <div class="container">
    <h2 class="is-size-1 has-text-centered has-text-weight-bold has-text-white has-text-capitalized">Demander plus
      d'informations</h2>
    <p class="block has-text-white has-text-centered-touch">{{ .Params.moreinfo }}</p>

    <div class="columns mt-5 pt-5">
      <div class="column is-9">
        <div class="formbox2">
          <form id="contact-form" method="POST" action="{{ .Site.Params.usebasin }}" role="form">

            <div class="field">

              <label for="form_name">{{ i18n "firstname" }} *</label>

              <input id="form_name" type="text" name="name" class="input" required="required"
                data-error="Firstname is required.">

            </div>

            <div class="field">

              <label for="form_email">{{ i18n "email" }} *</label>

              <input id="form_email" type="email" name="email" class="input" required="required"
                data-error="Valid email is required.">

            </div>

            <div class="field">

              <label for="form_phone">{{ i18n "phone" }}</label>

              <input id="form_phone" type="tel" name="phone" class="input">

            </div>

            <div class="field">
              <label for="form_message">Message *</label>

              <textarea id="form_message" name="message" class="input" rows="4" required
                data-error="Please,leave us a message."></textarea>

            </div>
            
            <div class="is-flex is-justified-start">
              <input type="submit" class="button is-secondary" value="Envoyer Le Message">
            </div>
          </form>
        </div>
      </div>
      <div class="column is-flex is-column is-aligned-end is-justified-center">
        <figure class="">
          <img src="img/agent.jpg" class="lazyload has-shadow" alt="Daniel Murphy Agent Immobilier" data-sizes="auto"
            data-srcset="img/agent.jpg" width="100%">
        </figure>
        <p class="heading is-size-5 has-text-white">Daniel Murphy</p>
        <small class="has-text-white heading has-text-weight-bold">GROUPE SUTTON EXCELLENCE INC.</small>
        <small class="has-text-white">Agence immobilière</small>
        <small class="has-text-white">1555, boul. de l'Avenir #100</small>
        <small class="has-text-white">Laval QC H7S 2N5</small>
      </div>
    </div>

  </div>
</footer>


{{ end }}